<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- LIDAR  -->
    <joint name="lidar_joint" type="fixed">
        <origin xyz="0 0 ${height+radius}"/>
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <axis xyz="0 1 0" rpy="0 0 0" />
    </joint>

    <link name="lidar_link">
        <visual>
            <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.1" length="0.1"/>
            </geometry>
        </visual>

        <collision name='collision'>
            <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.1" length="0.1"/>
            </geometry>
        </collision>
    </link>
    <xacro:include filename="$(find four_wheel_description)/model/parts/lidar/lidar.gazebo.xacro" />
</robot>