<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo reference="d1_wheel_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Yellow</material>
    </gazebo>

    <gazebo reference="d2_wheel_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Yellow</material>
    </gazebo>
    
    <gazebo reference="caster1_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="caster2_link">
        <mu1>0.000002</mu1>
        <mu2>0.000002</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>
</robot>